@import "tailwindcss";

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --background: #FFFFFF;
  --text: #242126;
  --text-light: #575757;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text-light: var(--text-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #242126;
    --text: #c4c5c9;
    --text-light: #575757;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
}

/* ========================|| Container max widths modified ||======================== */

/* --------> Base: Extra small (<576px) */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* --------> Small (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* --------> Medium (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* --------> Large (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* --------> Extra Large (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* --------> Extra Extra Large (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
